:root {
    --primary: #0F766E;

    --text-primary: #134E4A;
    --text-secondary: #64748B;
    --text-button: #475569;

    --success: #22C55E;
    --warning: #F59E0B;
    --danger: #EF4444;

    --background: #F0FDFA;
    --background-button-clear: #E2E8F0;
    --surface: #F8FAFC;
    --border: #CBD5E1;

     --summary-total-background: #DBEAFE;
    --summary-total-text: #0F766E;

    --summary-completed-background: #DCFCE7;
    --summary-completed-text: #16A34A;

    --summary-pending-background: #FFEDD5;
    --summary-pending-text: #EA580C;
    --white: #ffffff;

    --font-primary: "Inter", sans-serif;
}