.main{
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__container{
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}

.tasks_title{
  font-size: 5rem;
}