.main{
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__container{
  padding: 100px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}

.main__title-box{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.icon{
   background-color: var(--primary);
    border: none;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-icon{
  width: 45px;
  height: 45px;
  stroke-width: 2;
  color: var(--white);
}

.tasks_title{
  font-size: 2.5rem;
}