.tasks_form{
    background-color: var(--surface);
    border: 1px solid var(--border);
    border-radius: 5px;
    padding: 30px;

    display: flex;
    flex-direction: column;

    width: 700px;
    gap: 20px;
}

.form__input-container{
    position: relative;
    display: flex;
    align-items: start;
    justify-content: start;
}

.title_input-icon,
.description_input-icon{
    color: var(--primary);
    width: 20px;
    height: 20px;
}

.icon_input-container{
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
    background-color: var(--surface);
    padding: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;


}

.icon_input-container:has(.description_input-icon) {
    top: 8px;
    transform: none;
}

.form_input-title,
.form_input-description{
    border: 1px solid var(--border);
    padding: 10px 15px 10px 50px;
    border-radius: 5px;
    width: 100%;
    
    font-family: var(--font-primary);
    font-size: 1.05rem;
    color: var(--text-primary);
}

.form_input-description{
    min-height: 90px;
}

.form_input-title::placeholder,
.form_input-description::placeholder{
    font-family: var(--font-primary);
    font-size: 1.05rem;
    color: var(--text-secondary);
}

.form__buttons-container{
    width: 100%;
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    gap: 15px;
}

.form__button-add,
.form__button-clear{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px 30px;
    border-radius: 5px;
    border: none;
}



.form__button-add{
    background-color: var(--primary );
    color: white;
    font-size: 1.05rem;
}

.add-icon{
    color: white;
}

.form__button-clear{
    background-color: var(--background-button-clear);
    color: var(--text-button);
    font-size: 1.05rem;
    border: 1px solid var(--border);
}

.form__button-clear.editing{
    background-color: #FEE2E2;
    color: #B91C1C;
}