.tasks__summary{
    width: 100%;
    margin-bottom: 10px;
}

.tasks__summary-container{
    max-width: 100%;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.summary-title{
    font-size: 1.4rem;
}

.summary-infos{
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.tasks-total,
.tasks-pending,
.tasks-completed{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    border-radius: 40px;
    padding: 6px 24px;
    font-size: 0.8rem;
}

.tasks-total{
    background-color: var(--summary-total-background);
}

.total-title, .total-number{
    color: var(--summary-total-text);
}

.tasks-pending{
    background-color: var(--summary-pending-background);
}

.pending-title, .pending-number{
    color: var(--summary-pending-text);
}

.tasks-completed{
    background-color: var(--summary-completed-background);
}

.completed-title, .completed-number{
    color: var(--summary-completed-text);
}

